body
{
    background: rgb(81, 116, 136);
    color: rgb(250, 243, 243);
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 1px;
}
#cabecera
{
    background: #33A;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0,0.75);
    color: azure;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#cabecera #tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(14, 13, 13);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}